<header>
    <div class="search-box">
    </div>

    
    <div class="account">
        <i class="bi bi-bell-fill header-bi-size"></i>
        <i class="bi bi-gear-fill header-bi-size"></i>
        <img src="images/Profile_images/profile_img_1.svg" alt="avatar image">
    </div>
</header>