﻿<aside>
    <a href="@Url.Content("~/")">
        <img src="~/images/Alpha_icon_Lightmode.svg" alt="Alpha Portal Logotype">
    </a>

    <nav>
        <a asp-action="index" asp-controller="projects">Projects</a>
    </nav>
</aside>


